amqp
anyjson
billiard
celery
kombu
dj-database-url
Django
django-filter
django-oauth-toolkit
django-sslserver
djangorestframework
eemeter>=0.3.9
pandas>=0.18
psycopg2
requests
sqlalchemy
django-grappelli
gunicorn
django-rest-swagger
djangorestframework-bulk
