amqp==1.4.9
anyjson
billiard
celery
kombu
dj-database-url
Django
django-celery
django-filter
django-oauth-toolkit
djangorestframework
eemeter>=0.3.19
pandas>=0.18
psycopg2
requests
sqlalchemy
django-grappelli
gunicorn
django-rest-swagger
djangorestframework-bulk
