{% extends 'base.html' %}

{% block title %}Customer Portal{% endblock %}

{% block body %}

<div class="container">
  <div class="row-md-12">

    <div class="col-md-12">
      <h1>OEEM Customer Portal</h1>
      <hr />
    </div>

    <div class="col-md-8">

      <h3>Customer Information</h3>
      <p>Customer Name</p>

      <div>
        <a href="" class="btn btn-primary">Download Results CSV</a>
      </div>

      <hr />

      <h3>Project and Consumption Data</h3>

      <p>{{ project_count }} projects found</p>
      <p>{{ consumptionmetadata_count }} project consumption data collection (ConsumptionMetadata)</p>
      <p>{{ consumptionrecord_count }} consumption data points (ConsumptionRecord)</p>

    </div>
    <div class="col-md-4">
      <h3>Recent Project Runs</h3>

      <div>ID 48</div>
      <div>Project Count: 5,234</div>
      <div class="bg-success">No errors</div>

      <hr />

      <div>ID 47</div>
      <div>Project Count: 5,234</div>
      <div class="bg-danger">Failed</div>

    </div>

  </div>
</div>

{% endblock body %}