{% extends 'base.html' %}

{% block title %}Customer Portal{% endblock %}

{% block body %}

<div class="container">
  <div class="row-md-12">

    <div class="col-md-12">
      <h1>Project Run</h1>

      <table class="table">
        <tr>
          <th>id</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for meter_run in meter_runs %}
        <tr>
          <td>{{ meter_run.id }}</td>
          <td>{{ meter_run.annual_savings}}</td>
          <td>{{ meter_run.annual_usage_baseline}}</td>
          <td>{{ meter_run.annual_usage_reporting}}</td>
          <td>{{ meter_run.cvrmse_baseline}}</td>
          <td>{{ meter_run.cvrmse_reporting}}</td>
          <td>{{ meter_run.gross_savings}}</td>
          <td>{{ meter_run.project.baseline_period_end }}</td>
          <td>{{ meter_run.project.baseline_period_start }}</td>
          <td>{{ meter_run.project.latitude }}</td>
          <td>{{ meter_run.project.longitude }}</td>
          <td>{{ meter_run.project.project_id }}</td>
          <td>{{ meter_run.project.id }}</td>
          <td>{{ meter_run.project.reporting_period_end }}</td>
          <td>{{ meter_run.project.reporting_period_start }}</td>
          <td>{{ meter_run.project.weather_station }}</td>
          <td>{{ meter_run.project.zipcode }}</td>
          <td>{{ meter_run.consumption_metadata.id }}</td>
          <td>{{ meter_run.consumption_metadata.fuel_type }}</td>
          <td>{{ meter_run.consumption_metadata.energy_unit }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </div>
</div>

{% endblock body %}